#src {
    margin: 20px 0;
    color: #585758;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    a {
      color: #585758;
    }
    span {
      margin: 0 20px;
      color: #585758;
    }
  }
  .goods {
    overflow: hidden;
    background: #fff;
    padding: 30px 20px;
    .goods-left,
    .goods-right,
    .goods-bottom {
      float: left;
    }
  }
  .goods-left {
    div {
      float: left;
      margin-right: 10px;
    }
    .simg img {
      width: 74px;
      height: 74px;
      display: block;
    }
    .bimg {
      width: 420px;
      height: 420px;
      overflow: hidden;
      border: 1px solid #eee;
      outline: 1px solid #fff;
      position: relative;
      .img1{
        width: 840px;
      height: 840px;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      }
      .img2{
        width:420px;
        height:420px;
        opacity: 1;
      }
    }
  
    li {
      border: 1px solid #eee;
      outline: 1px solid #fff;
      width: 74px;
      height: 74px;
      text-align: center;
      margin-bottom: 10px;
      cursor: pointer;
      &:hover{
        border: 1px solid #dc3334;
      outline: 1px solid #dc3334;
      }
    }
    .red {
      border: 1px solid #dc3334;
      outline: 1px solid #dc3334;
    }
  }
  .goods-right {
    width: 584px;
    margin-left: 20px;
    font-size: 14px;
    h2 {
      margin-bottom: 17px;
      font-size: 18px;
    }
    .dic1 {
      color: #686675;
      margin-bottom: 10px;
      line-height: 1.5;
    }
    .dic2 {
      margin-bottom: 20px;
      img {
        height: 20px;
        margin-right: 20px;
        vertical-align: middle;
      }
      span {
        margin-right: 20px;
      }
    }
    .goods-price {
      background: #fff6f6;
      border: 1px solid #fddcdc;
      padding: 10px 10px;
      height: 50px;
      line-height: 50px;
      span {
        color: #dc3334;
        margin-left: 10px;
      }
      strong {
        font-size: 36px;
        color: #dc3334;
        font-family: Arial;
        font-weight: normal;
      }
      b {
        font-weight: normal;
        color: #999;
        margin-left: 20px;
      }
    }
    .goods-yh1,
    .goods-yh2 {
      border: 1px solid #fddcdc;
      padding: 0 10px;
      height: 30px;
      border-top: 0;
      line-height: 30px;
      background: #fff;
      overflow: hidden;
    }
    .goods-yh1 {
      a:nth-child(1) {
        margin-right: 11px;
        background: #f78e57;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 0 15px;
      }
      a:nth-child(2) {
        color: #333;
      }
      a:nth-child(3) {
        color: #666666;
        float: right;
        position: relative;
        cursor: pointer;
      }

      span {
        margin-left: 6px;
        width: 12px;
        height: 7px;
        display: inline-block;
        vertical-align: middle;
        background: url(https://img0.fengqu.com/sfht/1.1.258/img/icon.png) no-repeat -132px -194px;
      }
    }
   
    .goods-yh2 {
      position: absolute;
      display: none;
      width: 562px;
      a {
        color: #333;
        margin-left: 102px;
      }
    }
    ol {
      margin-top: 20px;
      li {
        margin-bottom: 18px;
        color: #999999;
      }
      i {
        color: #272541;
        font-style: normal;
        margin-left: 20px;
      }
      a {
        margin-left: 20px;
        padding: 0 6px;
        height: 28px;
        line-height: 28px;
        border: 1px solid #bdbdbd;
        color: #272541;
        background: #fff;
        position: relative;
        display: inline-block;
        cursor: pointer;
      }
      span {
        position: absolute;
        display: inline-block;
        right: 0;
        bottom: 0;
        width: 8px;
        height: 8px;
        vertical-align: middle;
        background: url(https://img0.fengqu.com/sfht/1.1.258/img/icon.png) no-repeat -62px -53px;
      }
      .red {
        border: 1px solid #dc3334;
        outline: 1px solid #dc3334;
      }
      button {
        width: 32px;
        height: 32px;
        display: inline-block;
        vertical-align: middle;
        font-size: 20px;
        color: #999;
        border: 1px solid #c6c6c6;
        background: #fff;
        cursor: pointer;
      }
      button:nth-child(1) {
        margin-left: 20px;
      }
      input {
        width: 49px;
        height: 30px;
        line-height: 30px;
        border: none;
        border-top: 1px solid #c6c6c6;
        border-bottom: 1px solid #c6c6c6;
        text-align: center;
      }
    }
    .buy {
      button {
        width: 134px;
        height: 45px;
        line-height: 45px;
        font-size: 16px;
        margin-right: 10px;
        color: #fff;
        background: #dd3e3f;
        border: 1px solid #c2363d;
      }
      .add {
        background: #ff8140;
        border: 1px solid #ff9000;
      }
      p {
        margin-left: 20px;
        display: inline-block;
      }
      a {
        color: #666;
        display: block;
      }
      img {
        margin-right: 10px;
        vertical-align: middle;
      }
    }
    .goods-pj {
      margin-top: 20px;
      li {
        float: left;
        margin-right: 20px;
      }
      span {
        color: #dc3334;
        font-size: 18px;
        margin: 0 5px;
        vertical-align: middle;
      }
      a {
        color: #999;
        margin-left: 10px;
      }
    }
    .share {
      float: right;
      a {
        background: url(https://img0.fengqu.com/sfht/1.1.258/img/icon.png) no-repeat -610px 0;
        width: 23px;
        height: 18px;
        text-indent: -999px;
        margin: 0 0 0 6px;
        padding-left: 0;
        display: inline-block;
      }
      .x {
        background-position: -670px 0;
      }
    }
  }
  .goods-bottom {
    padding: 25px 30px;
    h2{
      font-weight: normal;
      margin-bottom: 20px;
    }
    li{
      float: left;
      padding: 5px;
      width: 246px;
      margin-right: 15px;
      border: 1px solid #efefef;
      margin-bottom: 16px;
    }
    li:last-child{
      margin-right: 0;
    }
    .tip{
      float: right;
      width: 123px;
      height: 123px;
      padding-top: 20px;
      color: #333333;
    }
    h3{
      line-height: 14px;
      margin-bottom: 10px;
      height: 28px;
      overflow: hidden;
      word-wrap: break-word;
      word-break: break-all;
      font-weight: normal;
      font-size: 12px;
    }
    p{
      font-size: 14px;
      color: #dc3334;
    }
    img{
      width: 120px;
      height: 120px;
    }
  }