.hotlist-1 {
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px;
  h3 {
    font-weight: normal;
    color: #3e3439;
    font-size: 19px;
    margin-bottom: 15px;
    i {
      display: inline-block;
      width: 10px;
      height: 16px;
      margin-right: 11px;
      width: 10px;
      height: 16px;
      margin-right: 11px;
      background: #e73736;
    }
  }

  .hotlist-nav {
    float: right;
    font-size: 14px;
    a {
      color: #666666;
      &:hover {
        text-decoration: underline;
      }
    }
    span {
      color: #dddddd;
      margin: 0 10px;
    }
  }
  .main-left {
    float: left;
    width: 948px;
    .pic {
      margin-bottom: 17px;
    }
    .pic img {
      width: 196px;
      height: 196px;
      display: block;
      overflow: hidden;
    }
    .price img {
      width: 14px;
      height: 14px;
      margin-right: 7px;
    }

    li {
      float: left;
      padding: 18px 19px;
      width: 237px;
      height: 330px;
      border: 1px solid #e5e5e5;
      background: #fff;
      padding-bottom: 20px;
      position: relative;
      box-sizing: border-box;
      border-right: 0;
    }
    li:nth-child(2) {
      border-bottom: 0;
    }
    li:nth-child(3) {
      border-bottom: 0;
    }
    li:hover {
      border-bottom: 2px solid #dc3334;
    }
    li:nth-child(1) {
      width: 474px;
      height: 330px;
      padding: 0;
      border-bottom: 0;
    }

    li:nth-child(1) img {
      width: 474px;
      height: 330px;
      vertical-align: middle;
      border: 0;
    }
    .tip {
      font-size: 14px;
      height: 42px;
      line-height: 21px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      a {
        color: #333333;
        display: block;
      }
    }
  }
  .main-right {
    float: left;
    width: 231px;
    height: 660px;
    padding: 28px 20px 0;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid #e5e5e5;
    li {
      border-top: 1px solid #e5e5e5;
      position: relative;
      height: 93px;
      padding-top: 23px;
    }
    li:hover .title{
      text-decoration: underline;
    }
    .hotsale {
      font-size: 16px;
      color: #666;
      font-weight: normal;
      margin-bottom: 27px;
    }
    img {
      width: 70px;
      height: 70px;
    }
    .pic,
    .tip {
      float: left;
    }

    .tip {
      width: 99px;
    }
    .title {
      font-size: 14px;
      color: #333333;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      
    }
    .num1 {
      background: url(https://img0.fengqucdn.com/cmsres/20150924/74cbbfb5-7c18-4933-a31a-5209a16deb13.png) no-repeat;
      width: 44px;
      height: 38px;
      position: absolute;
      left: 0;
      top: 7px;
    }
    .num2 {
      background: url(https://img0.fengqucdn.com/cmsres/20150924/74cbbfb5-7c18-4933-a31a-5209a16deb13.png) no-repeat 0 -120px;
      width: 44px;
      height: 38px;
      position: absolute;
      left: 0;
      top: 7px;
    }
    .num3 {
      background: url(https://img0.fengqucdn.com/cmsres/20150924/74cbbfb5-7c18-4933-a31a-5209a16deb13.png) no-repeat 0 -238px;
      width: 44px;
      height: 38px;
      position: absolute;
      left: 0;
      top: 7px;
    }
  }
  span {
    font-size: 14px;
    color: #dc3334;
  }
  b {
    font-size: 17px;
    color: #dc3334;
    font-weight: normal;
    margin-right: 5px;
  }
  del {
    color: #999999;
  }
  span:last-child {
    font-size: 14px;
    color: #999999;
  }
}
.hotlist-2 {
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px;
  h3 {
    font-weight: normal;
    color: #3e3439;
    font-size: 19px;
    margin-bottom: 15px;
    i {
      display: inline-block;
      width: 10px;
      height: 16px;
      margin-right: 11px;
      width: 10px;
      height: 16px;
      margin-right: 11px;
      background: #e73736;
    }
  }

  .hotlist-nav {
    float: right;
    font-size: 14px;
    a {
      color: #666666;
      &:hover {
        text-decoration: underline;
      }
    }
    span {
      color: #dddddd;
      margin: 0 10px;
    }
  }
  .main-left {
    float: left;
    width: 948px;
    .pic {
      margin-bottom: 17px;
    }
    .pic img {
      width: 196px;
      height: 196px;
      display: block;
      overflow: hidden;
    }
    .price img {
      width: 14px;
      height: 14px;
      margin-right: 7px;
    }

    li {
      float: left;
      padding: 18px 19px;
      width: 237px;
      height: 330px;
      border: 1px solid #e5e5e5;
      background: #fff;
      padding-bottom: 20px;
      position: relative;
      box-sizing: border-box;
      border-right: 0;
    }
    li:nth-child(2) {
      border-bottom: 0;
    }
    li:nth-child(3) {
      border-bottom: 0;
    }
    li:hover {
      border-bottom: 2px solid #dc3334;
    }
    li:nth-child(1) {
      width: 474px;
      height: 330px;
      padding: 0;
      border-bottom: 0;
    }

    li:nth-child(1) img {
      width: 474px;
      height: 330px;
      vertical-align: middle;
      border: 0;
    }
    .tip {
      font-size: 14px;
      height: 42px;
      line-height: 21px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      a {
        color: #333333;
        display: block;
      }
    }
  }
  .main-right {
    float: left;
    width: 231px;
    height: 660px;
    padding: 28px 20px 0;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid #e5e5e5;
    li {
      border-top: 1px solid #e5e5e5;
      position: relative;
      height: 93px;
      padding-top: 23px;
    }
    li:hover .title{
      text-decoration: underline;
    }
    .hotsale {
      font-size: 16px;
      color: #666;
      font-weight: normal;
      margin-bottom: 27px;
    }
    img {
      width: 70px;
      height: 70px;
    }
    .pic,
    .tip {
      float: left;
    }

    .tip {
      width: 99px;
    }
    .title {
      font-size: 14px;
      color: #333333;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &:hover {
        text-decoration: underline;
      }
    }
    .num1 {
      background: url(https://img0.fengqucdn.com/cmsres/20150924/74cbbfb5-7c18-4933-a31a-5209a16deb13.png) no-repeat;
      width: 44px;
      height: 38px;
      position: absolute;
      left: 0;
      top: 7px;
    }
    .num2 {
      background: url(https://img0.fengqucdn.com/cmsres/20150924/74cbbfb5-7c18-4933-a31a-5209a16deb13.png) no-repeat 0 -120px;
      width: 44px;
      height: 38px;
      position: absolute;
      left: 0;
      top: 7px;
    }
    .num3 {
      background: url(https://img0.fengqucdn.com/cmsres/20150924/74cbbfb5-7c18-4933-a31a-5209a16deb13.png) no-repeat 0 -238px;
      width: 44px;
      height: 38px;
      position: absolute;
      left: 0;
      top: 7px;
    }
  }
  span {
    font-size: 14px;
    color: #dc3334;
  }
  b {
    font-size: 17px;
    color: #dc3334;
    font-weight: normal;
    margin-right: 5px;
  }
  del {
    color: #999999;
  }
  span:last-child {
    font-size: 14px;
    color: #999999;
  }
}
.hotlist-3 {
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px;
  h3 {
    font-weight: normal;
    color: #3e3439;
    font-size: 19px;
    margin-bottom: 15px;
    i {
      display: inline-block;
      width: 10px;
      height: 16px;
      margin-right: 11px;
      width: 10px;
      height: 16px;
      margin-right: 11px;
      background: #e73736;
    }
  }

  .hotlist-nav {
    float: right;
    font-size: 14px;
    a {
      color: #666666;
      &:hover {
        text-decoration: underline;
      }
    }
    span {
      color: #dddddd;
      margin: 0 10px;
    }
  }
  .main-left {
    float: left;
    width: 948px;
    .pic {
      margin-bottom: 17px;
    }
    .pic img {
      width: 196px;
      height: 196px;
      display: block;
      overflow: hidden;
    }
    .price img {
      width: 14px;
      height: 14px;
      margin-right: 7px;
    }

    li {
      float: left;
      padding: 18px 19px;
      width: 237px;
      height: 330px;
      border: 1px solid #e5e5e5;
      background: #fff;
      padding-bottom: 20px;
      position: relative;
      box-sizing: border-box;
      border-right: 0;
    }
    li:nth-child(2) {
      border-bottom: 0;
    }
    li:nth-child(3) {
      border-bottom: 0;
    }
    li:hover {
      border-bottom: 2px solid #dc3334;
    }
    li:nth-child(1) {
      width: 474px;
      height: 330px;
      padding: 0;
      border-bottom: 0;
    }

    li:nth-child(1) img {
      width: 474px;
      height: 330px;
      vertical-align: middle;
      border: 0;
    }
    .tip {
      font-size: 14px;
      height: 42px;
      line-height: 21px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      a {
        color: #333333;
        display: block;
      }
    }
  }
  .main-right {
    float: left;
    width: 231px;
    height: 660px;
    padding: 28px 20px 0;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid #e5e5e5;
    li {
      border-top: 1px solid #e5e5e5;
      position: relative;
      height: 93px;
      padding-top: 23px;
    }
    li:hover .title{
      text-decoration: underline;
    }
    .hotsale {
      font-size: 16px;
      color: #666;
      font-weight: normal;
      margin-bottom: 27px;
    }
    img {
      width: 70px;
      height: 70px;
    }
    .pic,
    .tip {
      float: left;
    }

    .tip {
      width: 99px;
    }
    .title {
      font-size: 14px;
      color: #333333;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &:hover {
        text-decoration: underline;
      }
    }
    .num1 {
      background: url(https://img0.fengqucdn.com/cmsres/20150924/74cbbfb5-7c18-4933-a31a-5209a16deb13.png) no-repeat;
      width: 44px;
      height: 38px;
      position: absolute;
      left: 0;
      top: 7px;
    }
    .num2 {
      background: url(https://img0.fengqucdn.com/cmsres/20150924/74cbbfb5-7c18-4933-a31a-5209a16deb13.png) no-repeat 0 -120px;
      width: 44px;
      height: 38px;
      position: absolute;
      left: 0;
      top: 7px;
    }
    .num3 {
      background: url(https://img0.fengqucdn.com/cmsres/20150924/74cbbfb5-7c18-4933-a31a-5209a16deb13.png) no-repeat 0 -238px;
      width: 44px;
      height: 38px;
      position: absolute;
      left: 0;
      top: 7px;
    }
  }
  span {
    font-size: 14px;
    color: #dc3334;
  }
  b {
    font-size: 17px;
    color: #dc3334;
    font-weight: normal;
    margin-right: 5px;
  }
  del {
    color: #999999;
  }
  span:last-child {
    font-size: 14px;
    color: #999999;
  }
}
.hotlist-4 {
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px;
  h3 {
    font-weight: normal;
    color: #3e3439;
    font-size: 19px;
    margin-bottom: 15px;
    i {
      display: inline-block;
      width: 10px;
      height: 16px;
      margin-right: 11px;
      width: 10px;
      height: 16px;
      margin-right: 11px;
      background: #e73736;
    }
  }

  .hotlist-nav {
    float: right;
    font-size: 14px;
    a {
      color: #666666;
      &:hover {
        text-decoration: underline;
      }
    }
    span {
      color: #dddddd;
      margin: 0 10px;
    }
  }
  .main-left {
    float: left;
    width: 948px;
    .pic {
      margin-bottom: 17px;
    }
    .pic img {
      width: 196px;
      height: 196px;
      display: block;
      overflow: hidden;
    }
    .price img {
      width: 14px;
      height: 14px;
      margin-right: 7px;
    }

    li {
      float: left;
      padding: 18px 19px;
      width: 237px;
      height: 330px;
      border: 1px solid #e5e5e5;
      background: #fff;
      padding-bottom: 20px;
      position: relative;
      box-sizing: border-box;
      border-right: 0;
    }
    li:nth-child(2) {
      border-bottom: 0;
    }
    li:nth-child(3) {
      border-bottom: 0;
    }
    li:hover {
      border-bottom: 2px solid #dc3334;
    }
    li:nth-child(1) {
      width: 474px;
      height: 330px;
      padding: 0;
      border-bottom: 0;
    }

    li:nth-child(1) img {
      width: 474px;
      height: 330px;
      vertical-align: middle;
      border: 0;
    }
    .tip {
      font-size: 14px;
      height: 42px;
      line-height: 21px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      a {
        color: #333333;
        display: block;
      }
    }
  }
  .main-right {
    float: left;
    width: 231px;
    height: 660px;
    padding: 28px 20px 0;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid #e5e5e5;
    li {
      border-top: 1px solid #e5e5e5;
      position: relative;
      height: 93px;
      padding-top: 23px;
    }
    li:hover .title{
      text-decoration: underline;
    }
    .hotsale {
      font-size: 16px;
      color: #666;
      font-weight: normal;
      margin-bottom: 27px;
    }
    img {
      width: 70px;
      height: 70px;
    }
    .pic,
    .tip {
      float: left;
    }

    .tip {
      width: 99px;
    }
    .title {
      font-size: 14px;
      color: #333333;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &:hover {
        text-decoration: underline;
      }
    }
    .num1 {
      background: url(https://img0.fengqucdn.com/cmsres/20150924/74cbbfb5-7c18-4933-a31a-5209a16deb13.png) no-repeat;
      width: 44px;
      height: 38px;
      position: absolute;
      left: 0;
      top: 7px;
    }
    .num2 {
      background: url(https://img0.fengqucdn.com/cmsres/20150924/74cbbfb5-7c18-4933-a31a-5209a16deb13.png) no-repeat 0 -120px;
      width: 44px;
      height: 38px;
      position: absolute;
      left: 0;
      top: 7px;
    }
    .num3 {
      background: url(https://img0.fengqucdn.com/cmsres/20150924/74cbbfb5-7c18-4933-a31a-5209a16deb13.png) no-repeat 0 -238px;
      width: 44px;
      height: 38px;
      position: absolute;
      left: 0;
      top: 7px;
    }
  }
  span {
    font-size: 14px;
    color: #dc3334;
  }
  b {
    font-size: 17px;
    color: #dc3334;
    font-weight: normal;
    margin-right: 5px;
  }
  del {
    color: #999999;
  }
  span:last-child {
    font-size: 14px;
    color: #999999;
  }
}
.hotlist-5 {
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px;
  h3 {
    font-weight: normal;
    color: #3e3439;
    font-size: 19px;
    margin-bottom: 15px;
    i {
      display: inline-block;
      width: 10px;
      height: 16px;
      margin-right: 11px;
      width: 10px;
      height: 16px;
      margin-right: 11px;
      background: #e73736;
    }
  }

  .hotlist-nav {
    float: right;
    font-size: 14px;
    a {
      color: #666666;
      &:hover {
        text-decoration: underline;
      }
    }
    span {
      color: #dddddd;
      margin: 0 10px;
    }
  }
  .main-left {
    float: left;
    width: 948px;
    .pic {
      margin-bottom: 17px;
    }
    .pic img {
      width: 196px;
      height: 196px;
      display: block;
      overflow: hidden;
    }
    .price img {
      width: 14px;
      height: 14px;
      margin-right: 7px;
    }

    li {
      float: left;
      padding: 18px 19px;
      width: 237px;
      height: 330px;
      border: 1px solid #e5e5e5;
      background: #fff;
      padding-bottom: 20px;
      position: relative;
      box-sizing: border-box;
      border-right: 0;
    }
    li:nth-child(2) {
      border-bottom: 0;
    }
    li:nth-child(3) {
      border-bottom: 0;
    }
    li:hover {
      border-bottom: 2px solid #dc3334;
    }
    li:nth-child(1) {
      width: 474px;
      height: 330px;
      padding: 0;
      border-bottom: 0;
    }

    li:nth-child(1) img {
      width: 474px;
      height: 330px;
      vertical-align: middle;
      border: 0;
    }
    .tip {
      font-size: 14px;
      height: 42px;
      line-height: 21px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      a {
        color: #333333;
        display: block;
      }
    }
  }
  .main-right {
    float: left;
    width: 231px;
    height: 660px;
    padding: 28px 20px 0;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid #e5e5e5;
    li {
      border-top: 1px solid #e5e5e5;
      position: relative;
      height: 93px;
      padding-top: 23px;
    }
    li:hover .title{
      text-decoration: underline;
    }
    .hotsale {
      font-size: 16px;
      color: #666;
      font-weight: normal;
      margin-bottom: 27px;
    }
    img {
      width: 70px;
      height: 70px;
    }
    .pic,
    .tip {
      float: left;
    }

    .tip {
      width: 99px;
    }
    .title {
      font-size: 14px;
      color: #333333;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &:hover {
        text-decoration: underline;
      }
    }
    .num1 {
      background: url(https://img0.fengqucdn.com/cmsres/20150924/74cbbfb5-7c18-4933-a31a-5209a16deb13.png) no-repeat;
      width: 44px;
      height: 38px;
      position: absolute;
      left: 0;
      top: 7px;
    }
    .num2 {
      background: url(https://img0.fengqucdn.com/cmsres/20150924/74cbbfb5-7c18-4933-a31a-5209a16deb13.png) no-repeat 0 -120px;
      width: 44px;
      height: 38px;
      position: absolute;
      left: 0;
      top: 7px;
    }
    .num3 {
      background: url(https://img0.fengqucdn.com/cmsres/20150924/74cbbfb5-7c18-4933-a31a-5209a16deb13.png) no-repeat 0 -238px;
      width: 44px;
      height: 38px;
      position: absolute;
      left: 0;
      top: 7px;
    }
  }
  span {
    font-size: 14px;
    color: #dc3334;
  }
  b {
    font-size: 17px;
    color: #dc3334;
    font-weight: normal;
    margin-right: 5px;
  }
  del {
    color: #999999;
  }
  span:last-child {
    font-size: 14px;
    color: #999999;
  }
}
.hotlist-6 {
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px;
  h3 {
    font-weight: normal;
    color: #3e3439;
    font-size: 19px;
    margin-bottom: 15px;
    i {
      display: inline-block;
      width: 10px;
      height: 16px;
      margin-right: 11px;
      width: 10px;
      height: 16px;
      margin-right: 11px;
      background: #e73736;
    }
  }

  .hotlist-nav {
    float: right;
    font-size: 14px;
    a {
      color: #666666;
      &:hover {
        text-decoration: underline;
      }
    }
    span {
      color: #dddddd;
      margin: 0 10px;
    }
  }
  .main-left {
    float: left;
    width: 948px;
    .pic {
      margin-bottom: 17px;
    }
    .pic img {
      width: 196px;
      height: 196px;
      display: block;
      overflow: hidden;
    }
    .price img {
      width: 14px;
      height: 14px;
      margin-right: 7px;
    }

    li {
      float: left;
      padding: 18px 19px;
      width: 237px;
      height: 330px;
      border: 1px solid #e5e5e5;
      background: #fff;
      padding-bottom: 20px;
      position: relative;
      box-sizing: border-box;
      border-right: 0;
    }
    li:nth-child(2) {
      border-bottom: 0;
    }
    li:nth-child(3) {
      border-bottom: 0;
    }
    li:hover {
      border-bottom: 2px solid #dc3334;
    }
    li:nth-child(1) {
      width: 474px;
      height: 330px;
      padding: 0;
      border-bottom: 0;
    }

    li:nth-child(1) img {
      width: 474px;
      height: 330px;
      vertical-align: middle;
      border: 0;
    }
    .tip {
      font-size: 14px;
      height: 42px;
      line-height: 21px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      a {
        color: #333333;
        display: block;
      }
    }
  }
  .main-right {
    float: left;
    width: 231px;
    height: 660px;
    padding: 28px 20px 0;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid #e5e5e5;
    li {
      border-top: 1px solid #e5e5e5;
      position: relative;
      height: 93px;
      padding-top: 23px;
    }
    li:hover .title{
      text-decoration: underline;
    }
    .hotsale {
      font-size: 16px;
      color: #666;
      font-weight: normal;
      margin-bottom: 27px;
    }
    img {
      width: 70px;
      height: 70px;
    }
    .pic,
    .tip {
      float: left;
    }

    .tip {
      width: 99px;
    }
    .title {
      font-size: 14px;
      color: #333333;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &:hover {
        text-decoration: underline;
      }
    }
    .num1 {
      background: url(https://img0.fengqucdn.com/cmsres/20150924/74cbbfb5-7c18-4933-a31a-5209a16deb13.png) no-repeat;
      width: 44px;
      height: 38px;
      position: absolute;
      left: 0;
      top: 7px;
    }
    .num2 {
      background: url(https://img0.fengqucdn.com/cmsres/20150924/74cbbfb5-7c18-4933-a31a-5209a16deb13.png) no-repeat 0 -120px;
      width: 44px;
      height: 38px;
      position: absolute;
      left: 0;
      top: 7px;
    }
    .num3 {
      background: url(https://img0.fengqucdn.com/cmsres/20150924/74cbbfb5-7c18-4933-a31a-5209a16deb13.png) no-repeat 0 -238px;
      width: 44px;
      height: 38px;
      position: absolute;
      left: 0;
      top: 7px;
    }
  }
  span {
    font-size: 14px;
    color: #dc3334;
  }
  b {
    font-size: 17px;
    color: #dc3334;
    font-weight: normal;
    margin-right: 5px;
  }
  del {
    color: #999999;
  }
  span:last-child {
    font-size: 14px;
    color: #999999;
  }
}
