@font-face {
    font-family: 'iconfont';
    src: url('../../dist/font_ns535oahp3/iconfont.eot');
    src: url('../../dist/font_ns535oahp3/iconfont.eot?#iefix') format('embedded-opentype'),
        url('../../dist/font_ns535oahp3/iconfont.woff2') format('woff2'),
        url('../../dist/font_ns535oahp3/iconfont.woff') format('woff'),
        url('../../dist/font_ns535oahp3/iconfont.ttf') format('truetype'),
        url('../../dist/font_ns535oahp3/iconfont.svg#iconfont') format('svg');
  }
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 23px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }