* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  font-size: 12px;
  background: #fff;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.center {
  width: 1180px;
  margin: 0 auto;
}
@import "index-iconfont";
@import "index-header";
@import "index-section";
@import "index-nav";
@import "index-aside";
@import "index-banner";
@import "index-article";
@import "index-footer";
@import "index-totop";
@import "index-loginandregister";
